@charset "utf-8";
/* CSS Document */
body {
	position:relative;
	margin:auto;
	background:gray;
}
.actTitle > div {
	padding:0;
}

.exLabel {
	position: absolute;
    top: 0;
}

.exBottle {
	position: absolute;
    right: 0;
    top: 0;
}

.exRubric {
	left: 213px;
    position: absolute;
    top: 0;
}

.subtitle {
	left: 20px;
    position: absolute;
    top: 265px;
}

.extraBottle {
	left: 38px;
    position: absolute;
    top: 334px;	
}

ul.choices {
	list-style: none;
}

ul.choices > li {
	cursor: pointer;
    display: inline-block;
}