@charset "utf-8";
/* CSS Document */
body {
	position: relative;
	margin: auto;
	background: gray;
}
.actTitle > div {
	padding: 0;
}

.exLabel {
	position: absolute;
    top: 0;
}

.exBottle {
	position: absolute;
    right: 0;
    top: 0;
}

.exRubric {
	left: 221px;
    position: absolute;
    top: 0;
}

input.crosswrd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-family: arial;
    font-size: 120px;
    height: 181px;
    padding: 0;
    width: 115px;
}

#inp0 {
   left: 222px;
    position: absolute;
    top: 142px;
}

div.crossDiv {
    left: 133px;
    position: absolute;
    top: 248px;
}

span.crossSpn {
    color: #333333;
    font-family: arial;
    font-size: 175px;
    position: relative;
}

.crossText {
    float: left;
    font-family: Arial;
    font-size: 23px;
    left: 483px;
    position: relative;
    top: 60px;
    vertical-align: middle;
    visibility: hidden;
    width: 425px;
}

span.actTitle.crossWord {
    position:absolute;
    top:0px;
    left:20px;
}

span.actTitle.crosswrdTitle {
    position:absolute;
    top:63px;
    left: 350px;	
}

.crossDiv, .subtitle {
	/*
    -ms-animation-duration: 5s;
    -webkit-animation-duration:  5s;
    animation-duration: 5s;*/
    /*-vendor-animation-delay: 2s;*/
    /*-vendor-animation-iteration-count: infinite;*/
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  
}

.theTable {
    bottom: 0;
    left: 4px;
    position: absolute;
}
.nextInner {
    bottom: 29px;
    left: 689px;
    position: absolute
}
.goToLetter {
	cursor:	pointer;
    bottom: 33px;
    left: 63px;
   position: absolute;
}
#actLetter {
    left: 122px;
    position: absolute;
    top: -56px;
}