@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;	
}

#truefalses{
	position:absolute;
	width: 1024px;  
	height: 455px;
	bottom: 15px;
}

.TrueFalse {
	border:thick;	
	/*padding: 0.5em; */
	/*background: #FFF;*/
}

#shadow {
	position: absolute;
	left: 20px;
	top: 30px;
}

.TrueFalse ul li {
	position: absolute;
	height: 130px;
	width: 50%;
	margin-bottom: -11px;
}

.TrueFalse ul {
	position: absolute;
	width: 96%;
	height: 300px;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
}

li.column0 {
	left: 0;
	top: 0;
}

li.column1 {
	bottom: 0;
	left: 0;
}

li.column2 {
	right: 0;
	top: 0;
}

li.column3 {
	right: 0;
	bottom: 0;
}

li.column2, li.column4 {
	bottom: 0;
}

.TrueFalse ul li span {
	position: relative;
	display: block;
	width: 100%;
	height: 200px;
}

.stem {
	font-family:BEBASNEUE;
	font-size:32px;
	vertical-align:middle;
	color:#fff;	
	position:absolute;
	left:36px;
}

.mymark {
	left: 0;
    position: absolute;
    top: 0;
}

.wrong, .correct, .option_letter {
	z-index: 10;
} 

li.column0 .option_letter {
	top: 70px;
	left: 44px;
}

li.column0 .wrong {
	top: 60px;
	left: 34px;
} 

li.column1 .option_letter {
	top: 73px;
	left: 55px;
}

li.column1 .correct {
	top: 67px;
	left: 40px;
} 

li.column2 .option_letter {
	top: 75px;
	left: 420px;
}

li.column2 .correct {
	top: 65px;
	left: 416px;
} 
li.column2 .wrong {
	top: 65px;
	left: 411px;
} 


li.column3 .option_letter {
	top: 75px;
	left: 430px;
}

li.column3 .correct {
	top: 66px;
	left: 415px;
} 

li.column3 .wrong {
	top: 66px;
	left: 415px;
} 

.hideMe{
	display:none;
}

.showMe{
	display:block;
	z-index:1;
}

.showCorr {
    color: blue;
}

.checkCorr {
    color: green;
}

.highme {
	background-color:#CCC;
}

#readTextarea .under {
   	text-decoration: none;
	background-color:#CCC;
}

.checkWron {
    color: red;
}

.sidebarCont2{
	/*margin-top: 150px;*/
	border:thick;
	width: 350px;  
	padding: 0.5em; 
	margin: 10px 10px 10px 0; 
	background: #DDD;
}

.MyExercise {
    display: inline;
    float: left;
    width: 1024px;
	position:relative;
	left:0px;
	top:0px;
	height:768px;
	overflow: hidden;
}


UL LI { 
    color: #4D1248;
    cursor: pointer;
    font-family: blissregular;
    list-style: none outside none;
}

.thisIsCorrect{
	/*background-color: #E4003A;
    color: #FFFFFF;*/
}

#tf1{
    position: absolute;	
    width: 100%;
    height: 100%;
}

#tf2{
	left: 310px;
    position: absolute;
    top: 202px;
}

#tf3{
	left: 493px;
    position: absolute;
    top: 6px;
}

#tf4{
	left: 493px;
    position: absolute;
    top: 205px;
}

.invisible{
	opacity: 0;
}

.make_visible{
	opacity: 1;
}

.translateMe{
	animation: 0.8s linear 0s normal forwards 1 myfirst;
	-webkit-animation:myfirst 0.8s linear 0s normal forwards 1 myfirst;
}

@keyframes myfirst
{
	0%   {left:309px;}
	100% {left:509px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {left:309px;}
	100% {left:509px;}
}


#jd{
	position:absolute;
	top:20px;
	left:40px;
}