@charset "utf-8";
/* CSS Document */

draggable {
	border:thick;
	width: 100px; 
	height: 100px; 
	/*padding: 0.5em; */
	float: left; 
	/*margin: 10px 10px 10px 0; */
	position : relative;
	cursor : pointer;
}

/*.draggable {
	cursor : pointer;
}*/

.draggable:hover {
	cursor : pointer;
}

droppable {
	border:thick;
	width: 100px; 
	height: 100px; 
	/*padding: 0.5em; */
	float: left; 
	/*margin: 10px 10px 10px 0; */
	position : relative;
}

#dragItems {
	 width: 150px; 
	 height: 150px; 
	 padding: 0.5em; 
	 float: left; 
	 margin: 10px;
}

#dropItems {
	 width: 150px; 
	 height: 150px; 
	 padding: 0.5em; 
	 float: left; 
	 margin: 10px;
}

.buttonsAll {
    float: left;
    left: 10%;
    position: absolute;
    top: 50%;
}

.readText {
	float: none;
}

.showCorr {
	color:green;
}

.showErr {
	color:red;
}

.readTextarea{
   border:2px none #999;
    float: left;
    height: 350px;
    overflow: auto;
	padding:10px 0;
    width: 440px;
	position: absolute;
    left: 0px;
}

TrueFalse {
    border: thick none;
    float: left;
    height: 100px;
    margin: 10px 10px 10px 0;
    padding: 0.5em;
    width: 100px;
}

.showCorr {
    color: blue;
}
.checkCorr {
    color: green;
}
.under {
    text-decoration: underline;
}
.checkWron {
    color: red;
	/*visibility:hidden;*/
	animation-duration:2s;
	-webkit-animation-duration:2s; /* Safari and Chrome */
}
#content {
    border: 2px solid #999999;
    float: left;
    height: 300px;
    overflow: auto;
    padding: 10px;
    width: 300px;
}
.MyExercise {
    display: inline;
    float: left;
    width: 400px;
}

.exLabel {
	position: absolute;
    top: 0;
    left: 15px;
}

.exBottle {
	position: absolute;
    right: 0;
    top: 0;
}

.exRubric {
	right: 0px;
    position: absolute;
    top: 115px;
}

.cornerExRubric {
	position: absolute;
	top: 0;
	left: 0;
}

.exInfo {
    bottom: -23px;
    left: 10px;
    position: absolute;
	display:none;
}

.animationDelay06{
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s; /* Safari and Chrome */	
}

.animationDelay12{
	animation-delay: 1.1s;
	-webkit-animation-delay: 1.1s; /* Safari and Chrome */
}