@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;	
}

#truefalses{
	position:absolute;
	width: 1024px;  
	height: 512px;
	bottom: 0;
}

.TrueFalse {
	border:thick;	
	/*padding: 0.5em; */
	/*background: #FFF;*/
}

.shadow {
	position: absolute;
	left: 20px;
	top: 30px;
}

.TrueFalse ul li {
	position: absolute;
}

.TrueFalse ul {
	position: absolute;
	width: 96%;
	height: 100%;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
}

li.column0 {
	left: 80px;
	top: -3px;
	width: 425px;
	height: 230px;
}

li.column1 {
	top: 20px;
	right: -18px;
	width: 440px;
	height: 170px;
}

li.column2 {
	left: 143px;
	top: 242px;
	width: 300px;
    height: 125px;
}

li.column3 {
  right: 7px;
  top: 220px;
  width: 380px;
  height: 140px;
}

li.column4 {
	left: 376px;
	bottom: 11px;
	width: 300px;
    height: 125px;
}

.TrueFalse ul li span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.stem {
	font-family:BEBASNEUE;
	font-size:32px;
	vertical-align:middle;
	color:#fff;	
	position:absolute;
	left:36px;
}

.mymark {
	left: 0;
    position: absolute;
    top: 0;
}

.wrong, .correct, .option_letter {
	z-index: 10;
} 

li.column0 .option_letter {
	top: 45px;
	left: -57px;
}

li.column0 .wrong {
	top: -12;
	left: -70px;
} 

li.column1 .option_letter {
	top: 18px;
	left: -39px;
}

li.column1 .wrong {
	top: -27px;
	left: -73px;
} 

li.column2 .option_letter {
	top: 5px;
	left: -100px;
}

li.column2 .wrong {
	top: -11px;
	left: -99px;
} 

li.column3 .option_letter {
	top: 12px;
	left: -64px;
}

li.column3 .wrong {
	top: -18px;
	left: -90px;
} 

li.column4 .option_letter {
	top: 10px;
	left: -57px;
}

li.column4 .correct {
	top: -15px;
	left: -72px;
} 

.hideMe{
	display:none;
}

.showMe{
	display:block;
	z-index:1;
}

.showCorr {
    color: blue;
}

.checkCorr {
    color: green;
}

.highme {
	background-color:#CCC;
}

#readTextarea .under {
   	text-decoration: none;
	background-color:#CCC;
}

.checkWron {
    color: red;
}

.sidebarCont2{
	/*margin-top: 150px;*/
	border:thick;
	width: 350px;  
	padding: 0.5em; 
	margin: 10px 10px 10px 0; 
	background: #DDD;
}

.MyExercise {
    display: inline;
    float: left;
    width: 1024px;
	position:relative;
	left:0px;
	top:0px;
	height:768px;
	overflow: hidden;
}


UL LI { 
    color: #4D1248;
    cursor: pointer;
    font-family: blissregular;
    list-style: none outside none;
}

.thisIsCorrect{
	/*background-color: #E4003A;
    color: #FFFFFF;*/
}

#tf1{
    position: absolute;	
    width: 100%;
    height: 100%;
}

#tf2{
	left: 310px;
    position: absolute;
    top: 202px;
}

#tf3{
	left: 493px;
    position: absolute;
    top: 6px;
}

#tf4{
	left: 493px;
    position: absolute;
    top: 205px;
}

.invisible{
	opacity: 0;
}

.make_visible{
	opacity: 1;
}

.translateMe{
	animation: 0.8s linear 0s normal forwards 1 myfirst;
	-webkit-animation:myfirst 0.8s linear 0s normal forwards 1 myfirst;
}

@keyframes myfirst
{
	0%   {left:309px;}
	100% {left:509px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {left:309px;}
	100% {left:509px;}
}


#jd{
	position:absolute;
	top:20px;
	left:40px;
}