@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;	
}

#myImage {
    background-color:#361935;
    height:718px;
	position:relative;
    width:1024px;
}

span.actTitle {
    position:absolute;
    left: 200px;
    top: 60px;
}

span.actTextCopy {
    left: 13px;
    line-height: 90%;
    position: absolute;
    top: 301px;
}

span.actText {
   left: 14px;
    line-height: 90%;
    position: absolute;
    top: 302px;
}

span.drop, span.dropC {
    border: medium dotted #FFFF00;
    display: inline-block;
    height: 165px;
    padding: 18px;
    width: 365px;
}

span.actText > .drop {
    height: auto;
    padding: 18px;
    width: auto;
}

span.dropCorrect {
    color:#e4003a;
}


span.notP {
    display:inline-block;
    margin:6px;	
}

p {
    margin:6px;
    /*	padding:0;*/
}

div.drags {
	left: 897px;
    position: absolute;
    top: 324px;
}

div.drags > span {
    display: block;
}

div.drags > ul > li, .qmark, .qlarge, .drop, .dropC, larges {
	/*
	animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	*/
}

.drag1s {
    /*left: -500px;
    position: relative;
    top: 390px;*/
}

.drag2s {
/*	left: -380px;
    top: 390px;
	position:relative;*/
}

.drag3s {
/*    left: -110px;
    top: 200px;
	position:relative;*/
}

.drag4s {
/*    left: 0px;
    top: 200px;
	position:relative;*/
}


ul.filled > li {
  
}

 ul.unfilled > li {
	cursor: pointer;
    display: block;
    margin-bottom: 5px;
 }
 
 ul.unfilled {
    position: relative;
    top: -313px;
 }
 
 .invisible{
	opacity: 0;
}

.larges {
	left: 42px;
    list-style: outside none none;
    position: absolute;
    top: 205px;
}
 
#large1{
	left: -9px;
    position: absolute;
    top: 99px;
}
#large2{
	left: -9px;
    position: absolute;
    top: 152px;
}
#large3{
	left: -10px;
    position: absolute;
    top: 202px;
}
#large4{
	left: -10px;
    position: absolute;
    top: 275px;
}

#large5{
	left: -10px;
    position: absolute;
    top: 327px;
}

#large6{
	left: -10px;
    position: absolute;
    top: 379px;;
}

#shadow{
	position:absolute;
	top:-10px;
	left:30px;
}

#jd{
	position:absolute;
	top:10px;
	left:80px;
}
/*
#drop1{
	position:absolute;
	top:-10px;
	left:30px;
}
#drop2{
	position:absolute;
	top:-10px;
	left:390px;
}
*/	
#drop3, #drop3C {
    margin-bottom: -9px;
}
/*
#drop4{
	position:absolute;
	top:190px;
	left:390px;
}
*/

span.actTextCopy > .dropC {
    display: block;
    margin-bottom: -30px;
}

span.actText > .drop {
    display: block;
	margin-bottom: -28px;
}
span.actText > #drop3 {
    margin-bottom: -9px;
}
.qmarks {
    left: 81px;
    position: absolute;
    top: 300px;
}

.qmark{
	 margin-bottom: -42px;
	/*
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	*/
}
/*
#qmark1{
	left: 0;
    position: absolute;
    top: 44px;
}
#qmark2{
	left: 353px;
    position: absolute;
    top: 41px;
}
#qmark3{
	left: 0;
    position: absolute;
    top: 350px;
}
#qmark4{
	left: 349px;
    position: absolute;
    top: 277px;
}
*/
.exLabel {
	position: absolute;
    top: 0;
}

.exBottle {
	position: absolute;
    right: 0;
    top: 0;
}

.exRubric {
	left: 231px;
    position: absolute;
    top: 0;
}

.titles {
    left: 130px;
    position: absolute;
    top: 266px;
}