@charset "utf-8";
/* CSS Document */
body {
	position:relative;
	margin:auto;
	background:gray;
}
.actTitle > div {
	padding:0;
}

.exLabel {
	position: absolute;
    top: 0;
}

.exBottle {
	position: absolute;
    right: 0;
    top: 0;
}

.exRubric {
	left: 213px;
    position: absolute;
    top: 0;
}

.subtitle {
	left: 20px;
    position: absolute;
    top: 265px;
}

.extraBottle {
	left: 38px;
    position: absolute;
    top: 334px;	
}

ul.choices {
	list-style: none;
}

ul.choices > li {
	
    display: inline-block;
	position:absolute;
}

.choice0 {
	/*-ms-animation-delay: 1s;
    -webkit-animation-delay:  1s;
    animation-delay: 1s;*/
	cursor:pointer;
}

.scoreLow .speech1 {
   left: 141px;
    position: absolute;
    top: 18px;
	-ms-animation-delay: 2s;
    -webkit-animation-delay:  2s;
    animation-delay: 2s;
}

.scoreLow .speech1 > span {
    font-family: verdana;
    font-size: 24px;
    left: 43px;
    position: absolute;
    text-align: center;
    top: 33px;
}

.scoreHigh .speech1 {
    left: 250px;
    position: absolute;
    top: 9px;
	-ms-animation-delay: 2s;
    -webkit-animation-delay:  2s;
    animation-delay: 2s;
}

.scoreHigh .speech2 {
    left: 18px;
    position: absolute;
    top: 19px;
	-ms-animation-delay: 3s;
    -webkit-animation-delay:  3s;
    animation-delay: 3s;
}